* {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

body {
	background-color: rgb(243, 243, 243);
   text-align: center;

}

nav {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	background-color: #ffff;
	height: 96px;
	line-height: 96px;
	box-sizing: border-box;
	padding-left: 30px;
	
}

nav ul {
	display: flex;
}

nav ul li {
	width: 120px;
	height: 25px;
	text-align: center;
}

nav ul li {
	border-right: 1px solid #822022;
	height: 25px;
	margin-top: 35px;
	line-height: 25px;
}

nav ul li a {
	text-decoration: none;
	color: #a42023;
	font-weight: 200;
	font-size: 16px;
}

nav ul li a:hover {
	font-size: 18px;
	font-weight: bold;
}

#nav_goutou {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 127px;
	height: 100%;
	font-size: 0px;
	background-color: #7f2526;
	text-align: center;
	box-sizing: border-box;
	padding-top: 9px;
}

#nav_goutou img {
	width: 78px;
	height: 78px;
}

#nav_gutou {
	position: absolute;
	width: 52px;
	height: 52px;
	right: 141px;
	bottom: 14px;
}


    #jianjie {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    h1 {
        font-family: "Microsoft YaHei";
        font-size: 36px;
        color: rgb(143, 78, 79);
		text-align: center;
    }

    h2 {
        font-size: 36px;
        color: rgb(144, 51, 52);
        font-weight: 500;
        margin-top: 30px;
        margin-bottom: 35px;
		text-align: center;
    }

    #jianjie p {
        width: 1000px;
        font-size: 18px;
        line-height: 190%;
		font-style: normal;
        font-family: "Microsoft YaHei";
        line-height: 30px;
        color: #5a5a5a;
        margin-bottom: 17px;
		border-color: #d7d7d7;
		text-align: center;
		margin: auto;

    }

    #jianjie a {
        display: inline-block;
        text-decoration: none;
        color: rgba(48, 52, 87, 1);
        font-weight: bold;
        font-family: Microsoft YaHei;
        border-radius: 3px;
        border-color: rgba(48, 52, 87, 1);
        text-align: center;
        width: 152px;
        height: 52px;
        box-shadow: rgb(0 0 0 / 60%) 0px 1px 4px 0px;
        line-height: 52px;
        margin-left: 1005px;
        margin-top: 40px;
		text-align: center;
		
    }
	
	#jianjie img{
		width: 1000px;
		text-align: center;
		
	}

    #jianjiedog {
        position: absolute;
        right: 0px;
        bottom: 0px;
    }


    #footer {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        height: 126px;
        color: rgb(118, 120, 177);
		background-color: #282A57;
    }

    #footer_main {
        width: 570px;
        height: 126px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
        border-left: 1px solid #727AAF;
        border-right: 1px solid #727AAF;
    }

    #footer_main ul {
        display: flex;
    }

    #footer_main ul li {
        width: 87px;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }

    #footer_main ul li a {
        color: #727eae;
        text-decoration: none;
        font-size: 12px;
    }

    #footer_main ul li a:hover {
        color: #ffff;
    }

    #footer_main p {
        margin-top: 60px;
        font-size: 14px;
        margin-left: 30px;
    }

    #footer_log {
        position: absolute;
        width: 106px;
        height: 106px;
        right: 140px;
        top: 10px;
    }



    #coutus {
        position: absolute;
        top: 0px;
        left: 118px;
        font-family: "Microsoft YaHei";
    }

    #coutus p {
        font-size: 18px;
        font-weight: bold;
        margin-top: 20px;
    }


    #fenye {
        padding-left: 30px;
    }

    #fenye span {
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        border: 1px solid #282A57;
    }

    #fenlei {
        display: flex;
        width: 430px;
        margin: 0 auto;
        margin-top: 30px;
    }

    #fenlei a {
        display: inline-block;
        width: 34%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        color: #303654;
        border-radius: 25px;
    }

    #fenlei a:hover {
        background-color: #303654;
        color: #ffff;
    }

    #bottom {
        width: 1000px;
        margin: 0 auto;
    }
    
    #bottom {
        text-align: center;
        background-color: #fff;
        line-height: 40px;
        font-size: 13px;
    }
    
    #bottom span {
        font-weight: 550;
    }
 .our img{
  
    width: 80%;
    height: 8%;
	margin-left: 5%;
 }

 .tupian{
    width: 100%;
    margin-left: 10px;
 }
 .tupian ul li{
list-style: none;
outline: none;
float: left;
margin-left: 5px;
 }
 .tupian ul li img{
    width: 200px;
    height: 200px;
 }
.neirong{
    width: 100%;
    margin-left: 10px;
}
.neirong ul li{
    list-style: none;
    outline: none;
    float: left;
    margin-left: 6px;
    width: 200px;
    height: 50px;
    background-color: #f0ece9;
    
}
.neirong ul li h3{
    text-align: center;
    font-family: "宋体";
  color: #7f2526;
}
.biaoti{
    font-size: 80px;
    font-family: "隶书";
    position: relative;
    text-align: center;
    color: #7f2526;
}
.xiaobiaoti{
    font-size: 30px;
    font-family: "隶书";
    position: relative;
    text-align: center;
    color: #7f2526;
    
}
.biaotier{
    font-size: 50px;
    font-family: "隶书";
    position: relative;
    text-align: center;
    color: #7f2526;

}
.fengjing{
    width: 100%

    
}
.fengjing img{
width: 400px;
height: 300px;
margin-left: 1%;
}